.twpx-form-control--file-upl {
  position: relative;
  margin-bottom: var(--twpx-form-control-margin-bottom);
  width: 100%;
}
.twpx-form-control__file-upl__disabled-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  pointer-events: none;
  z-index: 10;
}
.twpx-form-control__file-upl label span {
  color: #ea4420;
}

/*File*/
.twpx-form-control__file-upl {
  position: relative;
  margin-bottom: 0;
}
.twpx-form-control__file-upl.deleting {
  pointer-events: none;
}
.twpx-form-control__file-upl svg {
  position: absolute;
  top: 12px;
  left: 16px;
  pointer-events: none;
  z-index: 10;
}
.twpx-form-control__file-upl.deleting svg {
  display: none;
}
.twpx-form-control__file-upl input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
}
.twpx-form-control__file-upl label {
  display: flex;
  align-items: center;
  background-color: var(--twpx-form-control-background);
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  padding: var(--twpx-form-control-padding-top)
    var(--twpx-form-control-padding-right)
    var(--twpx-form-control-padding-bottom)
    var(--twpx-form-control-left-icon-padding-left) !important;
  border-radius: 3px;
  border: 1px solid var(--twpx-form-control-background);
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}
.twpx-form-control__file-upl.clearable label {
  padding-right: 40px;
}
.twpx-form-control__file-upl label a {
  pointer-events: none;
  -webkit-transition: none;
  transition: none;
  color: #0a16aa;
  text-decoration: none;
}
.twpx-form-control__file-upl label:hover {
  border-color: var(--twpx-form-control-border);
}
.twpx-form-control__file-upl .a,
.twpx-form-control__file-upl .b,
.twpx-form-control__file-upl .c,
.twpx-form-control__file-upl .d {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.twpx-form-control__file-upl .a {
  fill: #c3cfdd;
}
.twpx-form-control__file-upl .b {
  fill: #a3b2c1;
}
.twpx-form-control__file-upl .c {
  fill: #d3e0ea;
}
.twpx-form-control__file-upl .d {
  fill: #fff;
}
.twpx-form-control__file-upl:hover .a {
  fill: #4375d8;
}
.twpx-form-control__file-upl:hover .b {
  fill: #1c56c7;
}
.twpx-form-control__file-upl:hover .c {
  fill: #74a2ff;
}
.twpx-form-control__file-upl:hover .d {
  fill: #fff;
}
.twpx-form-control__file-upl:active .a,
.twpx-form-control__file-upl.dragover .a,
.twpx-form-control__file-upl.filled .a,
.twpx-form-control__file-upl.progressing .a {
  fill: #fff;
}
.twpx-form-control__file-upl:active .b,
.twpx-form-control__file-upl.dragover .b,
.twpx-form-control__file-upl.filled .b,
.twpx-form-control__file-upl.progressing .b {
  fill: #a7bde8;
}
.twpx-form-control__file-upl:active .c,
.twpx-form-control__file-upl.dragover .c,
.twpx-form-control__file-upl.filled .c,
.twpx-form-control__file-upl.progressing .c {
  fill: #d0e0ff;
}
.twpx-form-control__file-upl:active .d,
.twpx-form-control__file-upl.dragover .d,
.twpx-form-control__file-upl.filled .d,
.twpx-form-control__file-upl.progressing .d {
  fill: #4375d8;
}
.twpx-form-control__file-upl:active label,
.twpx-form-control__file-upl.dragover label,
.twpx-form-control__file-upl.filled label {
  background-color: #4375d8;
  color: #fff;
}
.twpx-form-control__file-upl:active label a,
.twpx-form-control__file-upl.dragover label a,
.twpx-form-control__file-upl.filled label a,
.twpx-form-control__file-upl:active .twpx-form-control__file-upl__label,
.twpx-form-control__file-upl.dragover .twpx-form-control__file-upl__label,
.twpx-form-control__file-upl.filled .twpx-form-control__file-upl__label,
.twpx-form-control__file-upl.progressing .twpx-form-control__file-upl__label {
  color: #fff;
}
/*invalid*/
.twpx-form-control--file-upl.twpx-form-control--invalid .a,
.twpx-form-control--file-upl.twpx-form-control__file-upl--invalid:active .a {
  fill: #ff0000;
}
.twpx-form-control--file-upl.twpx-form-control--invalid .b,
.twpx-form-control--file-upl.twpx-form-control__file-upl--invalid:active .b {
  fill: #b10101;
}
.twpx-form-control--file-upl.twpx-form-control--invalid .c,
.twpx-form-control--file-upl.twpx-form-control__file-upl--invalid:active .c {
  fill: #fcc;
}
.twpx-form-control--file-upl.twpx-form-control--invalid .d,
.twpx-form-control--file-upl.twpx-form-control__file-upl--invalid:active .d {
  fill: #fff;
}
/*.twpx-form-control--invalid .a,
.twpx-form-control--invalid .b,
.twpx-form-control--invalid:active .a,
.twpx-form-control--invalid:active .b {
  stroke: #ff0000;
}*/
.twpx-form-control--file-upl.twpx-form-control--invalid label,
.twpx-form-control--file-upl.twpx-form-control--ivalid:active label {
  background-color: #ffeaea;
  color: #ff0000;
  border-color: #e38080;
}
.twpx-form-control--file-upl.twpx-form-control--invalid:hover label,
.twpx-form-control--file-upl.twpx-form-control--invalid:hover:active label {
  border-color: #ff0000;
}
.twpx-form-control--file-upl.twpx-form-control--invalid label a,
.twpx-form-control--file-upl.twpx-form-control--invalid:active label a {
  color: #ff0000;
}

/*Disabled*/
.twpx-form-control--file-upl.twpx-form-control--disabled
  .twpx-form-control__file-upl {
  pointer-events: none;
}
.twpx-form-control--file-upl.twpx-form-control--disabled
  .twpx-form-control__file-upl
  label,
.twpx-form-control--file-upl.twpx-form-control--disabled:active
  .twpx-form-control__file-upl
  label {
  color: var(--twpx-form-control-disabled-color);
  pointer-events: none;
  background-color: var(--twpx-form-control-disabled-background-color);
  border: 1px solid var(--twpx-form-control-disabled-background-color) !important;
}
.twpx-form-control--file-upl.twpx-form-control--disabled label a,
.twpx-form-control--file-upl.twpx-form-control--disabled:active label a {
  color: #0a16aa55;
}
.twpx-form-control--file-upl.twpx-form-control--disabled
  .twpx-form-control__hint,
.twpx-form-control--file-upl.twpx-form-control--disabled
  .twpx-form-control__file-upl__label {
  color: var(--twpx-form-control-disabled-color);
}

.twpx-form-control__file-upl__label {
  position: absolute;
  top: 0;
  left: var(--twpx-form-control-left-icon-padding-left);
  -webkit-transform: translateY(
    var(--twpx-form-control-active-label-translate)
  );
  transform: translateY(var(--twpx-form-control-active-label-translate));
  font-size: var(--twpx-form-control-label-font-size);
  font-family: var(--twpx-form-control-font-family);
  color: var(--twpx-form-control-color);
  pointer-events: none;
  line-height: 1.1;
  z-index: 10;
}
.twpx-form-control--file-upl.twpx-form-control--invalid
  .twpx-form-control__file-upl__label {
  color: #ff0000;
}
.twpx-form-control__file-upl__clear {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: opacity 0.5s ease;
  z-index: 10;
}

.twpx-form-control__file-upl__clear:hover {
  opacity: 0.7;
}

.twpx-form-control__file-upl__clear:before {
  content: '';
  display: block;
  height: 20px;
  border-left: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: -2px;
  left: 7px;
  z-index: 10;
}
.twpx-form-control__file-upl__clear:after {
  content: '';
  display: block;
  height: 20px;
  border-left: 2px solid #fff;
  transform: rotate(135deg);
  position: absolute;
  top: -2px;
  left: 7px;
  z-index: 10;
}

.twpx-form-control__file-upl__clear.btn--load-circle {
  position: absolute;
}
.twpx-form-control__file-upl__clear.btn--load-circle:after {
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  right: calc(50% - 10px);
  left: auto;
}
.twpx-form-control__file-upl__clear.btn--load-circle:before {
  display: none;
}
.twpx-form-control__warning,
.twpx-form-control__hint {
  font-size: 9pt;
  margin: 5px;
  line-height: 1.1;
}
.twpx-form-control__warning,
.twpx-form-control__warning * {
  color: #ff0000;
}

.twpx-form-control__file-upl__progressbar {
  width: 0%;
  height: calc(100% - 2px);
  position: absolute;
  top: 1px;
  left: 0;
  background-color: #4375d8;
  color: #fff;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  transition: width 0.3s ease-in-out;
  /* width: var(--progress-width, 0); */
}

.twpx-form-control__file-upl__progressbar.minimal {
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

.twpx-form-control__file-upl__progressbar span {
  padding: 0 15px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.twpx-form-control__file-upl__progressbar span:last-child {
  width: 100%;
  text-align: right;
}
