.twpx-design-system-block {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 32px;
}
.twpx-design-system-block--two-cols {
  grid-template-columns: 4fr 1fr;
}

.twpx-design-system-block pre {
  font-size: 12px;
  background-color: var(--twpx-form-control-background);
  border-radius: 16px;
  padding: 12px;
  max-height: 300px;
}

.twpx-design-system-block--small pre {
  max-height: 150px;
}

.twpx-desing-system-menu {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}
.twpx-desing-system-menu a {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #06417c;
  border: 1px solid #06417c;
  color: #fff;
}
.twpx-desing-system-menu a:hover {
  color: #fff;
}
.twpx-desing-system-menu a.router-link-exact-active {
  cursor: default;
  background-color: #fff;
  color: #06417c;
}
