.twpx-design-system-block {
  display: grid;
  gap: 32px;
}
.twpx-design-system-block--two-cols {
  grid-template-columns: 4fr 1fr;
}

#DesignSystem pre {
  font-size: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 8px;
  align-self: start;
  margin: 0;
}

.twpx-design-system-block pre {
  align-self: start;
}

.twpx-desing-system-menu {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}
.twpx-desing-system-menu a {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #06417c;
  border: 1px solid #06417c;
  color: #fff;
}
.twpx-desing-system-menu a:hover {
  color: #fff;
}
.twpx-desing-system-menu a.router-link-exact-active {
  cursor: default;
  background-color: #fff;
  color: #06417c;
}

/*Submenu*/
.twpx-desing-system-submenu-grid {
  display: grid;
  grid-template-columns: 115px 1fr;
  gap: 16px;
}
.twpx-desing-system-submenu {
  display: grid;
  gap: 4px;
  align-self: start;
}
.twpx-desing-system-submenu a {
  padding: 2px;
  font-size: 12px;
}
.twpx-desing-system-submenu a:hover {
  background-color: #06417c33;
}
.twpx-desing-system-submenu a.router-link-exact-active {
  cursor: default;
  font-weight: bold;
}
