.twpx-form-status-change .vue-loader-circle {
  height: 400px;
}
.twpx-form-status-change__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: start;
}
.twpx-form-status-change__form-wrapper,
.twpx-form-status-change__history {
  display: grid;
  gap: var(--twpx-form-gap-block-gap, 32px);
  padding: var(--twpx-form-padding-desktop, 32px);
  border: 1px solid var(--twpx-border-neutral, #F2F2F2);
}
.twpx-form-status-change__history-wrapper {
  display: grid;
  gap: 8px;
}
.twpx-form-status-change h3 {
  margin: 0;
}
@media(max-width: 767px) {
  .twpx-form-status-change__grid {
    grid-template-columns: 1fr;
  }
  .twpx-form-status-change__form-wrapper,
  .twpx-form-status-change__history {
    padding: var(--twpx-form-padding-mobile, 16px);
    gap: var(--twpx-form-gap-block-gap, 16px);
  }
  .twpx-form-status-change h3 {
    font-size: 14px;
  }
}
