.twpx-poll-list {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.twpx-poll-list__wrapper {
  display: grid;
  gap: 32px;
  width: 100%;
}
.twpx-poll-list__list {
  display: grid;
  gap: var(--twpx-block-desktop-sizes-gap-m, 24px);
}