.twpx-voting-list__voting-item {
    display: grid;
    grid-template-columns: 1fr 110px 96px;
    padding: 16px;
    align-items: flex-start;
    gap: 32px;
    border: 1px solid var(--twpx-border-neutral, #F2F2F2);
    background: var(--twpx-block-background-default, #FFF);
}
.twpx-voting-list__voting-item__info {
    display: grid;
    gap: 8px;
}
.twpx-voting-list__voting-item__heading {
    font-weight: 700;
    line-height: normal;
}
.twpx-voting-list__voting-item__text {
    color: var(--twpx-text-secondary, #9B9B9B);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.twpx-voting-list__voting-item__status span {
    display: inline-flex;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.twpx-voting-list__voting-item__buttons {
    display: flex;
    gap: 32px;
}