.twpx-form-control--hint {
  position: relative;
  margin-bottom: var(--twpx-form-control-margin-bottom);
  width: 100%;
}
.twpx-form-control--hint.twpx-form-control--open {
  z-index: 101;
}
.twpx-form-control--hint.twpx-form-control--active .twpx-form-control__label {
  -webkit-transform: translateY(
    var(--twpx-form-control-active-label-translate)
  );
  transform: translateY(var(--twpx-form-control-active-label-translate));
}
.twpx-form-control--hint .twpx-form-control__disabled-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  pointer-events: none;
  z-index: 10;
}
.twpx-form-control--hint .twpx-form-control__label {
  position: absolute;
  top: 0;
  left: var(--twpx-form-control-padding-left);
  margin: 0;
  padding: 0;
  color: var(--twpx-form-control-color);
  font-size: var(--twpx-form-control-label-font-size);
  font-family: var(--twpx-form-control-font-family);
  -webkit-transition: -webkit-transform 0.2s ease-out,
    -webkit-font-size 0.2s ease-out;
  transition: transform 0.2s ease-out, font-size 0.2s ease-out;
  -webkit-transform: translateY(var(--twpx-form-control-label-translate));
  transform: translateY(var(--twpx-form-control-label-translate));
  pointer-events: none;
  line-height: 1.1;
}
.twpx-form-control--hint.twpx-form-control--invalid .twpx-form-control__label {
  color: var(--twpx-form-control-invalid-color);
}
.twpx-form-control--hint .twpx-form-control-loader {
  position: absolute;
  top: calc(
    (var(--twpx-form-control-height) - var(--twpx-form-control-loader-size)) / 2
  );
  right: var(--twpx-form-control-loader-right);
  width: var(--twpx-form-control-loader-size);
  height: var(--twpx-form-control-loader-size);
  -webkit-animation: vue-hint-loader-circle 1.3s infinite linear;
  animation: vue-hint-loader-circle 1.3s infinite linear;
  z-index: 10;
}

@-webkit-keyframes vue-hint-loader-circle {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes vue-hint-loader-circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.twpx-form-control-clear {
  position: absolute;
  top: calc(
    (var(--twpx-form-control-height) - var(--twpx-form-control-clear-size)) / 2
  );
  right: var(--twpx-form-control-clear-right);
  width: var(--twpx-form-control-clear-size);
  height: var(--twpx-form-control-clear-size);
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.twpx-form-control-clear:hover {
  opacity: 0.7;
}
.twpx-form-control--hint .twpx-form-control__input {
  display: block !important;
  width: 100%;
  margin: 0 !important;
  padding: var(--twpx-form-control-padding-top)
    var(--twpx-form-control-padding-right)
    var(--twpx-form-control-padding-bottom)
    var(--twpx-form-control-padding-left) !important;
  background-color: var(--twpx-form-control-background) !important;
  border: 1px solid var(--twpx-form-control-border) !important;
  height: var(--twpx-form-control-height) !important;
  border-radius: var(--twpx-form-control-border-radius) !important;
  font-family: var(--twpx-form-control-font-family);
  font-size: var(--twpx-form-control-font-size) !important;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  outline: none !important;
  box-shadow: none !important;
  box-sizing: border-box !important;
}
.twpx-form-control--hint .twpx-form-control__input:focus,
.twpx-form-control--hint .twpx-form-control__input:hover {
  outline: none !important;
  border-color: var(--twpx-form-control-border-active) !important;
}
.twpx-form-control--hint.twpx-form-control--invalid .twpx-form-control__input {
  background-color: var(
    --twpx-form-control-invalid-background-color
  ) !important;
  border-color: var(--twpx-form-control-invalid-border-color) !important;
  outline: none !important;
  color: var(--twpx-form-control-invalid-color) !important;
}
.twpx-form-control--hint.twpx-form-control--disabled {
  pointer-events: none;
  cursor: default;
}
.twpx-form-control--hint.twpx-form-control--disabled .twpx-form-control__label {
  color: var(--twpx-form-control-disabled-color);
}
.twpx-form-control--hint.twpx-form-control--disabled .twpx-form-control__input {
  color: var(--twpx-form-control-disabled-color);
  pointer-events: none;
  background-color: var(
    --twpx-form-control-disabled-background-color
  ) !important;
  border: 1px solid var(--twpx-form-control-disabled-border-color) !important;
  padding-right: calc(var(--twpx-form-control-right-icon-right) + var(--twpx-form-control-right-icon-size) + var(--twpx-form-control-right-icon-right)) !important;
}
.twpx-form-control--hint .twpx-form-control__warning,
.twpx-form-control--hint .twpx-form-control__hint {
  font-size: var(--twpx-form-control-external-hint-font-size);
  margin: var(--twpx-form-control-external-hint-margin);
  line-height: var(--twpx-form-control-external-hint-line-height);
}
.twpx-form-control--hint .twpx-form-control__warning {
  color: var(--twpx-form-control-invalid-color);
}

.twpx-form-control-hint {
  position: absolute;
  top: calc(var(--twpx-form-control-height, 48px) + 1px + 5px);
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: var(--twpx-form-control-hint-box-shadow);
  border-radius: var(--twpx-form-control-hint-border-radius, 0 0 5px 5px);
  font-size: var(--twpx-form-control-hint-font-size, 14px);
  line-height: 1.2;
  z-index: 50;
}

.twpx-form-control-hint__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: var(--twpx-form-control-hint-padding, 20px);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.twpx-form-control-hint__item:hover,
.twpx-form-control-hint__item.active {
  background-color: var(
    --twpx-form-control-hint-active-background,
    var(--twpx-form-control-background)
  );
  color: #5f7696;
  cursor: pointer;
}

.twpx-form-control-hint__item:first-child {
  margin-top: 0.5rem;
}

.twpx-form-control-hint__item:last-child {
  margin-bottom: 0.5rem;
}


/* Multi */
.twpx-form-control-multi__control .twpx-form-control--hint .twpx-form-control__input {
  padding-right: calc(var(--gap) + var(--icon) + var(--gap) + var(--icon) + var(--gap)) !important;
}
.twpx-form-control-multi__control .twpx-form-control--hint .twpx-form-control-clear {
  right: calc(var(--gap) + var(--icon) + var(--gap));
}

/* Multi disabled */
.twpx-form-control-multi__control .twpx-form-control--hint.twpx-form-control--disabled .twpx-form-control__input {
  padding-right: calc(var(--gap) + var(--icon) + var(--gap) + var(--icon) + var(--gap)) !important;
}
.twpx-form-control-multi__control .twpx-form-control--hint.twpx-form-control--disabled .twpx-form-control__disabled-icon {
  right: calc(var(--gap) + var(--icon) + var(--gap)) !important;
}
