#authSMS {
  border: 1px solid #f2f2f2;
  padding: 64px;
}

.vue-auth-sms {
  padding: 32px;
  border: 1px solid var(--twpx-border-neutral, #f2f2f2);
  display: grid;
  gap: 10px;
}
.vue-auth-center {
  margin: 0 auto;
  width: 589px;
  box-sizing: content-box;
}
.vue-auth-center-body {
  margin: 0 auto;
  width: 400px;
}

@media (max-width: 767px) {
  #authSMS {
    border: none;
    padding: 0;
  }

  .vue-auth-center {
    margin: 0;
    width: auto;
    box-sizing: content-box;
  }
  .vue-auth-center-body {
    margin: 0;
    width: auto;
  }
}
