.twpx-form-control--select-multi {
  display: grid;
  gap: 8px;
}
.twpx-form-control--select-multi__heading {
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

/* Checkbox */
.twpx-form-control--checkbox-block {
  --aas-checkbox-width: 24px;
  --aas-checkbox-height: 24px;
  --aas-checkbox-checked-before-top: 4px;
  --aas-checkbox-checked-before-left: 3px;
  --aas-checkbox-checked-before-width: 8px;
  --aas-checkbox-checked-before-height: 13px;
  --aas-checkbox-span-min-height: 25px;
  --aas-checkbox-span-padding-left: calc(var(--aas-checkbox-width) + 20px);
  
  width: 100%;
}
.twpx-form-control--checkbox-block label {
  margin-bottom: 0;
  display: flex;
  padding: 12px var(--twpx-table-padding-m, 16px);
  align-items: center;
  gap: var(--semantic-gap-s, 16px);
  border-radius: var(--twpx-checkbox-border-radius);
  border: 1px solid var(--twpx-form-control-background);
  cursor: pointer;
  -webkit-transition: border-color .3s ease, background-color .3s ease;
  transition: border-color .3s ease, background-color .3s ease;
}
.twpx-form-control--checkbox-block:hover {
  border-color: var(--twpx-form-control-border-active);
}
.twpx-form-control--checkbox-block.twpx-form-control--checked label {
  background-color: var(--twpx-form-control-background-blue);
}
.twpx-form-control--checkbox-block svg.twpx-form-control__checkbox-icon {
  flex-shrink: 0;
}
.twpx-form-control--checkbox-block svg.twpx-form-control__checkbox-icon rect {
  -webkit-transition: fill .3s ease;
  transition: fill .3s ease;
  fill: var(--twpx-form-control-background);
}
.twpx-form-control--checkbox-block svg.twpx-form-control__checkbox-icon path {
  -webkit-transition: stroke .3s ease;
  transition: stroke .3s ease;
  stroke: var(--twpx-form-control-background);
}
.twpx-form-control--checkbox-block.twpx-form-control--checked svg.twpx-form-control__checkbox-icon rect {
  fill: var(--twpx-form-control-border-active);
}
.twpx-form-control--checkbox-block.twpx-form-control--checked svg.twpx-form-control__checkbox-icon path {
  stroke: var(--twpx-form-control-background-blue);
}
.twpx-form-control--checkbox-block [type='checkbox']:not(:checked),
.twpx-form-control--checkbox-block [type='checkbox']:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.twpx-form-control--checkbox-block .twpx-form-control--checkbox-block__label {
  cursor: pointer;
  user-select: none;
  color: var(--twpx-form-control-color);
  font-family: var(--twpx-form-control-font-family);
  font-size: var(--twpx-form-control-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}