/* Application */
.twpx-vue-marketplace__loader {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.twpx-vue-marketplace-application {
    display: grid;
    gap: 32px;;
    padding: 32px;
    border: 1px solid var(--twpx-border-neutral, #F2F2F2);
    min-height: 400px;
}
.twpx-vue-marketplace-application__content {
    display: grid;
    gap: 32px;
}
.twpx-vue-marketplace-application h2,
.twpx-vue-marketplace-application h4,
.twpx-vue-marketplace-application p {
    margin: 0;
}
.twpx-vue-marketplace-application h4 {
    font-size: 20px;
}
.twpx-vue-marketplace-application-html,
.twpx-vue-marketplace-application-controls {
    display: grid;
    gap: var(--semantic-gap-s, 16px);
}
@media(max-width: 767px) {
    .twpx-vue-marketplace-application {
        padding: 32px 16px;
    }
    .twpx-vue-marketplace-application h4,
    .twpx-vue-marketplace-application p {
        font-size: 14px;
    }
}