.twpx-vue-marketplace-result {
    display: grid;
    gap: 48px;
}
.twpx-vue-marketplace-result__content {
    display: grid;
    gap: 32px;
}
.twpx-vue-marketplace-result .vue-loader-circle {
    min-height: 400px;
    border: 1px solid var(--twpx-border-neutral, #F2F2F2);
}

.twpx-vue-marketplace-company {
    display: grid;
    gap: 32px;
    padding: var(--twpx-table-padding-l, 32px);
    border-radius: var(--twpx-table-padding-s, 8px);
    border: 1px solid var(--twpx-border-neutral, #F2F2F2);
    background: var(--twpx-background-default, #FFF);
}
.twpx-vue-marketplace-company__text {
    display: grid;
    gap: 16px;
}
.twpx-vue-marketplace-company h3 {
    margin: 0;
}
.twpx-vue-marketplace-company__text p {
    margin: 0;
    white-space: break-spaces;
}
.twpx-vue-marketplace-company__properties {
    display: grid;
    gap: 16px;
}
.twpx-vue-marketplace-company__props {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 24px));
    column-gap: 48px;
}
.twpx-vue-marketplace-company__prop {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 8px));
    gap: 16px;
    padding: 16px var(--twpx-table-padding-m, 16px);
    color: var(--twpx-text-primary, #3B3B3B);
    font-size: 14px;
    line-height: normal;
    border-bottom: 1px solid var(--twpx-border-neutral, #F2F2F2);
    word-break: break-word;
}
.twpx-vue-marketplace-company__properties .vue-button {
    justify-self: start;
}
.twpx-vue-marketplace-company .twpx-form-control--checkbox-block {
    font-size: 14px;
}
.twpx-vue-marketplace-company__buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}
.twpx-vue-marketplace-company__buttons__right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 32px;
}

/* Group application */
.twpx-vue-marketplace-group-application {
    border-radius: var(--twpx-text-border-radius-medium, 8px);
    border: 1px solid var(--twpx-border-primary, #F2762E);
    display: flex;
    padding: var(--semantic-padding-s, 16px);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 16px;
    position: sticky;
    bottom: 16px;
    background-color: #fff;
    z-index: 10;
}
.twpx-vue-marketplace-group-application__text {
    display: grid;
    gap: 8px;
}
.twpx-vue-marketplace-group-application h4 {
    margin: 0;
}
.twpx-vue-marketplace-group-application .vue-button {
    flex-shrink: 0;
}

@media(max-width: 1100px) {
    .twpx-vue-marketplace-company__properties {
        gap: 4px;
    }
    .twpx-vue-marketplace-company__props {
        grid-template-columns: 100%;
        row-gap: 4px;
    }
    .twpx-vue-marketplace-company__buttons,
    .twpx-vue-marketplace-company__buttons__right {
        display: grid;
        gap: 16px;
        justify-content: normal;
    }
    .twpx-vue-marketplace-company__properties .vue-button {
        justify-self: normal;
    }
    .twpx-vue-marketplace-company {
        padding: var(--twpx-table-padding-m, 16px);
        gap: 16px;
    }
}
@media(max-width: 575px) {
    .twpx-vue-marketplace-result__content {
        gap: 16px;
    }
    .twpx-vue-marketplace-company__prop {
        grid-template-columns: 100%;
        row-gap: 4px;
        padding: var(--semantic-gap-xs, 8px) 0;
        border-bottom: none;
    }
    .twpx-vue-marketplace-group-application {
        display: grid;
        gap: 10px;
        padding: var(--semantic-padding-s, 16px);
    }
    .twpx-vue-marketplace-group-application h4 {
        font-size: 14px;
        line-height: 16.8px;
    }
    .twpx-vue-marketplace-group-application__text {
        font-size: 14px;
        line-height: 21px;
    }
}


.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

/* result application form */
.twpx-vue-marketplace__result-application-form {
    display: grid;
    gap: 32px;
}
.twpx-vue-marketplace__result-application-form h2,
.twpx-vue-marketplace__result-application-form p {
    margin: 0;
}
.twpx-vue-marketplace__result-application-form__wrapper {
    display: grid;
    gap: 24px;
}
.twpx-vue-marketplace__result-application-form__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

/* Success */
.twpx-vue-marketplace__result-application-success {
    display: grid;
    gap: 32px;
    text-align: center;
}
.twpx-vue-marketplace__result-application-success h2,
.twpx-vue-marketplace__result-application-success p {
    margin: 0;
}
.twpx-vue-marketplace__result-application-success__button {
    display: flex;
    justify-content: center;
}
.twpx-vue-marketplace__result-application-success__button .vue-button {
    width: 100%;
    max-width: 256px;
}
@media(max-width: 767px) {
    .twpx-vue-marketplace__result-application-form__buttons {
        grid-template-columns: 1fr;
    }
    .twpx-vue-marketplace__result-application-form__buttons .vue-button:first-child {
        padding: 8px 16px;
        height: 32px;
        font-size: 12px;
        border-radius: 4px;
    }
}