.vue-tf-filter-ph {
  position: relative;
  --aas-placeholder-color: #f2f2f2;
}

.vue-tf-filter-ph {
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

.vue-tf-filter-ph div:before {
  content: '';
  display: block;
  background-color: var(--aas-placeholder-color);
  height: 8px;
  margin-bottom: 5px;
  width: 45%;

  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 49%,
    #ffffff88 50%,
    #ffffff88 50%,
    transparent 51%,
    transparent 100%
  );
  background-size: 600% 600%;
  animation: filter-gradient 4s linear infinite;

  background-attachment: fixed;
}

.vue-tf-filter-ph div:after {
  content: '';
  display: block;
  background-color: var(--aas-placeholder-color);
  height: 39px;

  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 49%,
    #ffffff88 50%,
    #ffffff88 50%,
    transparent 51%,
    transparent 100%
  );
  background-size: 600% 600%;
  animation: filter-gradient 4s linear infinite;

  background-attachment: fixed;
}

@keyframes filter-gradient {
  100% {
    background-position: 200%;
  }
}
