.twpx-form-control--select {
  position: relative;
  margin-bottom: var(--twpx-form-control-margin-bottom);
  width: 100%;
  z-index: 11;
}
.twpx-form-control--select.twpx-form-control--opened,
.twpx-form-control--select.twpx-form-control--animation {
  z-index: 20;
}
.twpx-form-control--select.twpx-form-control--active .twpx-form-control__label {
  -webkit-transform: translateY(
    var(--twpx-form-control-active-label-translate)
  );
  transform: translateY(var(--twpx-form-control-active-label-translate));
}
.twpx-form-control--select .twpx-form-control__disabled-icon {
  position: absolute;
  top: 16px;
  right: calc(16px + 8px + 16px);
  width: 16px;
  height: 16px;
  pointer-events: none;
  z-index: 10;
}
.twpx-form-control--select .twpx-form-control__label {
  position: absolute;
  top: 0;
  left: var(--twpx-form-control-padding-left);
  margin: 0;
  padding: 0;
  color: var(--twpx-form-control-color);
  font-size: var(--twpx-form-control-label-font-size);
  font-family: var(--twpx-form-control-font-family);
  -webkit-transition: -webkit-transform 0.2s ease-out,
    -webkit-font-size 0.2s ease-out;
  transition: transform 0.2s ease-out, font-size 0.2s ease-out;
  -webkit-transform: translateY(var(--twpx-form-control-label-translate));
  transform: translateY(var(--twpx-form-control-label-translate));
  pointer-events: none;
  line-height: 1.1;
  z-index: 2;
}
.twpx-form-control--select.twpx-form-control--invalid
  .twpx-form-control__label {
  color: var(--twpx-form-control-invalid-color);
}
.twpx-form-control--select.twpx-form-control--disabled
  .twpx-form-control-select {
  cursor: default;
}
.twpx-form-control--select.twpx-form-control--disabled
  .twpx-form-control__label {
  color: var(--twpx-form-control-disabled-color);
}
.twpx-form-control--select.twpx-form-control--disabled
  .twpx-form-control-select__content {
  color: var(--twpx-form-control-disabled-color);
  pointer-events: none;
  background-color: var(
    --twpx-form-control-disabled-background-color
  ) !important;
  border: 1px solid var(--twpx-form-control-disabled-border-color) !important;
}
.twpx-form-control--select.twpx-form-control--disabled
  .twpx-form-control-select:hover
  .twpx-form-control-select__content {
  border-color: var(--twpx-form-control-disabled-border-color) !important;
}
.twpx-form-control--select .twpx-form-control__warning,
.twpx-form-control--select .twpx-form-control__hint {
  font-size: var(--twpx-form-control-external-hint-font-size);
  margin: var(--twpx-form-control-external-hint-margin);
  line-height: var(--twpx-form-control-external-hint-line-height);
}
.twpx-form-control--select .twpx-form-control__warning {
  color: var(--twpx-form-control-invalid-color);
}
.twpx-form-control--select.twpx-form-control--disabled
  .twpx-icon-dropdown__arrow {
  fill: var(--twpx-form-control-disabled-color);
}

/*Select*/
.twpx-form-control-select {
  position: relative;
  font-family: var(--twpx-form-control-font-family);
  font-size: var(--twpx-form-control-font-size);
  cursor: pointer;
  box-sizing: border-box;
}
.twpx-form-control-select * {
  box-sizing: border-box;
}
.twpx-form-control-select__arrow {
  position: absolute;
  top: calc(
    (var(--twpx-form-control-height) - var(--twpx-form-control-clear-size)) / 2
  );
  right: var(--twpx-form-control-dropdown-right);
  width: var(--twpx-form-control-dropdown-size);
  height: var(--twpx-form-control-dropdown-size);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  z-index: 2;
}
.twpx-form-control-select__label {
  color: var(--twpx-form-control-color);
  position: absolute;
  top: 0;
  left: var(--twpx-form-control-padding-left);
  font-size: var(--twpx-form-control-label-font-size);
  cursor: text;
  -webkit-transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out,
    -webkit-font-size 0.2s ease-out;
  transition: color 0.2s ease-out, transform 0.2s ease-out,
    font-size 0.2s ease-out;
  text-align: initial;
  -webkit-transform: translateY(var(--twpx-form-control-label-translate));
  transform: translateY(var(--twpx-form-control-label-translate));
  pointer-events: none;
  user-select: none;
  z-index: 1;
}
.twpx-form-control-select--selected .twpx-form-control-select__label {
  -webkit-transform: translateY(
    var(--twpx-form-control-active-label-translate)
  );
  transform: translateY(var(--twpx-form-control-active-label-translate));
}
.twpx-form-control-select__content {
  display: flex !important;
  align-items: center;
  width: 100%;
  margin: 0 !important;
  padding: var(--twpx-form-control-padding-top)
    var(--twpx-form-control-padding-right)
    var(--twpx-form-control-padding-bottom)
    var(--twpx-form-control-padding-left) !important;
  background-color: var(--twpx-form-control-background) !important;
  border: 1px solid var(--twpx-form-control-border) !important;
  height: var(--twpx-form-control-height) !important;
  border-radius: var(--twpx-form-control-border-radius) !important;
  font-family: var(--twpx-form-control-font-family);
  font-size: var(--twpx-form-control-font-size) !important;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  outline: none !important;
  box-shadow: none !important;
  box-sizing: border-box !important;
  user-select: none;
  position: relative;
  z-index: 1;
}
.twpx-form-control-select__content span {
  pointer-events: none;
  overflow: hidden;
  display: block;
  height: 24px;
}
.twpx-form-control-select:hover .twpx-form-control-select__content,
.twpx-form-control--select.twpx-form-control--opened
  .twpx-form-control-select__content {
  outline: none;
  border-color: var(--twpx-form-control-border-active) !important;
}
/* .twpx-form-control-select:hover path {
  -webkit-transition: stroke 0.2s linear;
  transition: stroke 0.2s linear;
}
.twpx-form-control-select:hover ellipse {
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}
.twpx-form-control-select:hover path {
  stroke: #fff;
}
.twpx-form-control-select:hover ellipse {
  fill: #2b2b2b;
} */
.twpx-form-control-select__dropdown {
  position: absolute;
  top: calc(var(--twpx-form-control-height) + 3px);
  left: 0;
  width: 100%;
  overflow-y: auto;
  overflow: scroll;
  scrollbar-color: #eee #fff;
  scrollbar-width: thin;
  border-radius: var(--twpx-form-control-border-radius);
  /* overflow: hidden; */
  box-shadow: 0px 5px 10px #0000000f;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
.twpx-form-control-select__dropdown.twpx-form-control-select__dropdown--visible {
  max-height: 300px;
}
.twpx-form-control-select__dropdown--up {
  top: auto;
  bottom: calc(var(--twpx-form-control-height) + 3px);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
.twpx-form-control-select__dropdown-item {
  background-color: #fff;
  min-height: var(--twpx-form-control-height);
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding: 14px var(--twpx-form-control-padding-right);
  color: var(--twpx-form-control-color);
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  cursor: pointer;
}
.twpx-form-control-select__dropdown-item:hover {
  background-color: var(--twpx-form-control-background);
}
.twpx-form-control-select__dropdown-item.twpx-form-control-select__dropdown-item--visible {
  display: flex;
}
.twpx-form-control-select__dropdown-item--current {
  background-color: var(--twpx-form-control-background);
  color: #5f7696;
}
.twpx-form-control-select__dropdown-item--hidden {
  display: none;
}
/* .twpx-form-control-select.twpx-form-control-select--animate,
.twpx-form-control-select.twpx-form-control-select--dropdown {
  z-index: 101;
} */
.twpx-form-control--select.twpx-form-control--opened
  .twpx-form-control-select__arrow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.twpx-form-control--select.twpx-form-control--opened
  .twpx-form-control-select__dropdown {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}
.twpx-form-control-select.twpx-form-control-select--invalid
  .twpx-form-control-select__content {
  background-color: var(
    --twpx-form-control-invalid-background-color
  ) !important;
  border-color: var(--twpx-form-control-invalid-border-color) !important;
  outline: none !important;
  color: var(--twpx-form-control-invalid-color) !important;
}
.twpx-form-control-select.twpx-form-control-select--invalid
  .twpx-form-control-select__label {
  color: var(--twpx-form-control-invalid-color);
}
.twpx-form-control-select.twpx-form-control-select--disabled {
  pointer-events: none;
}
.twpx-form-control-select.twpx-form-control-select--disabled svg {
  opacity: 0.3;
}
.twpx-form-control-select.twpx-form-control-select--disabled
  .twpx-form-control-select__content {
  border: 1px solid var(--twpx-form-control-disabled-border-color) !important;
  color: var(--twpx-form-control-disabled-color);
}
.twpx-form-control-select.twpx-form-control-select--disabled
  .twpx-form-control-select__label {
  color: #80868e55;
}
.twpx-form-control-select.twpx-form-control-select--disabled.twpx-form-control-select--selected
  .twpx-form-control-select__content {
  outline: 1px solid #c6cdd355;
  color: var(--twpx-form-control-color);
  pointer-events: none;
}
.twpx-form-control-select.twpx-form-control-select--disabled.twpx-form-control-select--selected
  .twpx-form-control-select__label {
  color: var(--twpx-form-control-disabled-color);
}