.twpx-form-control--file {
  position: relative;
  margin-bottom: var(--twpx-form-control-margin-bottom);
  width: 100%;
}
.twpx-form-control__file__disabled-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  pointer-events: none;
  z-index: 10;
}
/* .twpx-form-control__file label span {
  color: var(--twpx-form-control-invalid-color);
} */
.twpx-form-control__file__filename {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--twpx-form-control-padding-top)
    var(--twpx-form-control-padding-right)
    var(--twpx-form-control-padding-bottom)
    var(--twpx-form-control-left-icon-padding-left) !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
}

/*File*/
.twpx-form-control__file {
  position: relative;
  margin-bottom: 0;
}
.twpx-form-control__file.deleting {
  pointer-events: none;
}
.twpx-form-control__file svg {
  position: absolute;
  top: 12px;
  left: 16px;
  pointer-events: none;
  z-index: 10;
}
.twpx-form-control__file.deleting svg {
  display: none;
}
.twpx-form-control__file input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
}
.twpx-form-control__file label {
  display: flex;
  align-items: center;
  background-color: var(--twpx-form-control-background);
  font-size: var(--twpx-form-control-font-size);
  height: var(--twpx-form-control-height) !important;
  border-radius: 3px;
  border-radius: var(--twpx-form-control-border-radius) !important;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 0;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}
.twpx-form-control__file.clearable label {
  padding-right: 40px;
}
.twpx-form-control__file label a {
  pointer-events: none;
  -webkit-transition: none;
  transition: none;
  color: #0a16aa;
  text-decoration: none;
}
.twpx-form-control__file label:hover {
  border-color: var(--twpx-form-control-border);
}
.twpx-form-control__file .a,
.twpx-form-control__file .b,
.twpx-form-control__file .c,
.twpx-form-control__file .d {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.twpx-form-control__file .a {
  fill: #7293a0;
}
.twpx-form-control__file .b {
  fill: #3f6676;
}
.twpx-form-control__file .c {
  fill: #bbd1d9;
}
.twpx-form-control__file .d {
  fill: #fff;
}
.twpx-form-control__file:active .a,
.twpx-form-control__file.dragover .a,
.twpx-form-control__file.filled .a {
  fill: #fff;
}
.twpx-form-control__file:active .b,
.twpx-form-control__file.dragover .b,
.twpx-form-control__file.filled .b {
  fill: #a7bde8;
}
.twpx-form-control__file:active .c,
.twpx-form-control__file.dragover .c,
.twpx-form-control__file.filled .c {
  fill: #d0e0ff;
}
.twpx-form-control__file:active .d,
.twpx-form-control__file.dragover .d,
.twpx-form-control__file.filled .d {
  fill: #7293a1;
}
.twpx-form-control__file:active label,
.twpx-form-control__file.dragover label,
.twpx-form-control__file.filled label {
  background-color: #7293a1;
  color: #fff;
}
.twpx-form-control__file:active label a,
.twpx-form-control__file.dragover label a,
.twpx-form-control__file.filled label a,
.twpx-form-control__file:active .twpx-form-control__file__label,
.twpx-form-control__file.dragover .twpx-form-control__file__label,
.twpx-form-control__file.filled .twpx-form-control__file__label {
  color: #fff;
}
/*invalid*/
.twpx-form-control--file.twpx-form-control--invalid .a,
.twpx-form-control--file.twpx-form-control__file--invalid:active .a {
  fill: #ff0000;
}
.twpx-form-control--file.twpx-form-control--invalid .b,
.twpx-form-control--file.twpx-form-control__file--invalid:active .b {
  fill: #b10101;
}
.twpx-form-control--file.twpx-form-control--invalid .c,
.twpx-form-control--file.twpx-form-control__file--invalid:active .c {
  fill: #fcc;
}
.twpx-form-control--file.twpx-form-control--invalid .d,
.twpx-form-control--file.twpx-form-control__file--invalid:active .d {
  fill: #fff;
}
/*.twpx-form-control--invalid .a,
.twpx-form-control--invalid .b,
.twpx-form-control--invalid:active .a,
.twpx-form-control--invalid:active .b {
  stroke: #ff0000;
}*/
.twpx-form-control--file.twpx-form-control--invalid label,
.twpx-form-control--file.twpx-form-control--ivalid:active label {
  background-color: #ffeaea;
  color: #ff0000;
  border-color: #e38080;
}
.twpx-form-control--file.twpx-form-control--invalid:hover label,
.twpx-form-control--file.twpx-form-control--invalid:hover:active label {
  border-color: #ff0000;
}
.twpx-form-control--file.twpx-form-control--invalid label a,
.twpx-form-control--file.twpx-form-control--invalid:active label a {
  color: #ff0000;
}

/*Disabled*/
.twpx-form-control--file.twpx-form-control--disabled .twpx-form-control__file {
  pointer-events: none;
}
.twpx-form-control--file.twpx-form-control--disabled
  .twpx-form-control__file
  label,
.twpx-form-control--file.twpx-form-control--disabled:active
  .twpx-form-control__file
  label {
  color: var(--twpx-form-control-disabled-color);
  pointer-events: none;
  background-color: var(--twpx-form-control-disabled-background-color);
  border: 1px solid var(--twpx-form-control-disabled-background-color) !important;
}
.twpx-form-control--file.twpx-form-control--disabled label a,
.twpx-form-control--file.twpx-form-control--disabled:active label a {
  color: #0a16aa55;
}
.twpx-form-control--file.twpx-form-control--disabled .twpx-form-control__hint,
.twpx-form-control--file.twpx-form-control--disabled
  .twpx-form-control__file__label {
  color: var(--twpx-form-control-disabled-color);
}

.twpx-form-control__file__label {
  position: absolute;
  top: 0;
  left: var(--twpx-form-control-left-icon-padding-left);
  -webkit-transform: translateY(
    var(--twpx-form-control-active-label-translate)
  );
  transform: translateY(var(--twpx-form-control-active-label-translate));
  font-size: var(--twpx-form-control-label-font-size);
  font-family: var(--twpx-form-control-font-family);
  color: var(--twpx-form-control-color);
  pointer-events: none;
  line-height: 1.1;
  z-index: 10;
}
.twpx-form-control--file.twpx-form-control--invalid
  .twpx-form-control__file__label {
  color: #ff0000;
}
.twpx-form-control__file__clear {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: opacity 0.5s ease;
  z-index: 10;
}

.twpx-form-control__file__clear:hover {
  opacity: 0.7;
}

.twpx-form-control__file__clear:before {
  content: '';
  display: block;
  height: 20px;
  border-left: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: -2px;
  left: 7px;
  z-index: 10;
}
.twpx-form-control__file__clear:after {
  content: '';
  display: block;
  height: 20px;
  border-left: 2px solid #fff;
  transform: rotate(135deg);
  position: absolute;
  top: -2px;
  left: 7px;
  z-index: 10;
}

.twpx-form-control__file__clear.btn--load-circle {
  position: absolute;
}
.twpx-form-control__file__clear.btn--load-circle:after {
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  right: calc(50% - 10px);
  left: auto;
}
.twpx-form-control__file__clear.btn--load-circle:before {
  display: none;
}
.twpx-form-control__warning,
.twpx-form-control__hint {
  font-size: 9pt;
  margin: 5px;
  line-height: 1.1;
}
.twpx-form-control__warning {
  color: #ff0000;
}
