#authSMS {
  border: 1px solid #f2f2f2;
  padding: 64px;
}
.vue-auth-grid {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 64px;
}
.vue-auth-grid-col {
  width: calc(50% - 32px);
}
.vue-auth-grid-col:last-child img {
  width: 100%;
}
.vue-auth-grid-col h3 {
  margin-bottom: 2rem;
}

.vue-auth-alt {
  width: 100%;
  max-width: 400px;
  margin: 32px auto;
  display: grid;
  gap: 32px;
}
.vue-auth-alt > div {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  #authSMS {
    border: none;
    padding: 0;
  }
  .vue-auth-grid-col:last-child {
    display: none;
  }
  .vue-auth-grid {
    display: block;
  }
  .vue-auth-grid-col {
    width: 100%;
  }
}
