.twpx-voting-list__voting-item {
    display: grid;
    grid-template-columns: 1fr 170px 96px;
    padding: 16px;
    align-items: flex-start;
    gap: 32px;
    border: 1px solid var(--twpx-border-neutral, #F2F2F2);
    background: var(--twpx-block-background-default, #FFF);
}
.twpx-voting-list__voting-item__info {
    display: grid;
    gap: 8px;
}
.twpx-voting-list__voting-item__heading {
    font-weight: 700;
    line-height: normal;
}
.twpx-voting-list__voting-item__text {
    color: var(--twpx-text-secondary, #9B9B9B);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: break-spaces;
}
.twpx-voting-list__voting-item__status {
    height: 32px;
    display: flex;
    align-items: center;
}
.twpx-voting-list__voting-item__status span {
    display: inline-flex;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.twpx-voting-list__voting-item__buttons {
    display: flex;
    gap: 32px;
}

.twpx-voting-list__voting-item__status span {
    color: var(--twpx-label-blue, #06417C);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-self: flex-start;
    background: var(--twpx-label-background-blue, #F2F7FF);
}
.twpx-voting-list__voting-item__status span.label-green {
    color: #74c37a;
    background-color: #effff0
}

.twpx-voting-list__voting-item__status span.label-red {
    color: #f00;
    background-color: #fff4f4
}

.twpx-voting-list__voting-item__status span.label-gray {
    color: #9b9b9b;
    background-color: #f2f2f2
}

.twpx-voting-list__voting-item__status span.label-lightblue {
    color: #5f7696;
    background-color: #f2f7ff
}

.twpx-voting-list__voting-item__status span.label-blue {
    color: #4375d8;
    background-color: #f0f5ff
}

.twpx-voting-list__voting-item__status span.label-orange {
    color: #f2762e;
    background-color: #fff7f2
}