.twpx-poll-wizard-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--semantic-padding-s, 16px);
    border-radius: var(--twpx-text-border-radius-medium, 8px);
    border: 1px solid var(--twpx-border-neutral, #F2F2F2);
    gap: 16px;
}
.twpx-poll-wizard-block__text {
    display: grid;
    gap: 8px;
    font-size: 14px;
}
.twpx-poll-wizard-block__text h4 {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
    margin: 0;
}
.twpx-poll-wizard-block__text p {
    margin: 0;
}
.twpx-poll-wizard-block .vue-button {
    flex-shrink: 0;
}