.twpx-voting-control__info-blocks {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
  }
  
  .twpx-voting-control__info-block {
    display: grid;
    width: 128px;
    padding: 8px;
    gap: var(--twpx-block-mobile-sizes-gap-m, 16px);
    border-radius: 8px;
    color: #5F7696;
    background: #F0F5FC;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
  }
  
  .twpx-voting-control__info-block__heading {
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .twpx-voting-control__info-block:nth-child(2) {
    color: var(--semantic-colors-success, #74C37A);
    background: var(--semantic-colors-success-light, #EFFFF0);
  }
  
  .twpx-voting-control__info-block:nth-child(3) {
    color: var(--semantic-colors-attention, #F00);
    background: var(--semantic-colors-error-light, #FFF4F4);
  }
  
  .twpx-voting-control__info-block__nums {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
  
  .twpx-voting-control__info-block__nums span:nth-child(2) {
    text-align: right;
  }
  
  .twpx-voting-control__info-block:nth-child(2) span:nth-child(2) {
    color: #AAD4AD;
  }
  
  .twpx-voting-control__info-block:nth-child(3) span:nth-child(2) {
    color: #F6A4A4;
  }