.vue-ft-table .table th,
.vue-ft-table .table-responsive th,
.vue-ft-table .table td,
.vue-ft-table .table-responsive td {
  text-align: left;
}

.vue-ft-table .table th,
.vue-ft-table .table-responsive th {
  padding-left: 1.5rem;
  cursor: default;
}

.vue-ft-table .table.table-sortable th,
.vue-ft-table .table-responsive.table-sortable th {
  cursor: pointer;
}

.vue-ft-table .table th.asc,
.vue-ft-table .table-responsive th.asc,
.vue-ft-table .table th.desc,
.vue-ft-table .table-responsive th.desc {
  padding-right: 40px;
}

.vue-tf-table--clickable {
  cursor: pointer;
}

.vue-ft-table-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
