.vue-ft-table .table th,
.vue-ft-table .table-responsive th,
.vue-ft-table .table td,
.vue-ft-table .table-responsive td {
  text-align: left;
}

.vue-ft-table .table th,
.vue-ft-table .table-responsive th {
  padding-left: 1.5rem;
}

.vue-ft-table-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
