hr.hr--none {
  padding: 0;
  margin: 0;
}
.vue-auth-sms-code-form-body {
  margin: 0 auto;
  display: grid;
  gap: 16px;
}
.vue-auth-sms-code-form-body > div {
  text-align: center;
}
.vue-auth-sms-code-inputs {
  width: calc(48px * 6 + 8px * 5);
  margin: 0 auto;
  display: grid;
  gap: 8px;
}
.vue-auth-sms-code-inputs-label {
  color: #000;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.vue-auth-sms-code-inputs-label.vue-auth-sms-code-inputs-label--disabled {
  color: #9b9b9b;
}
.vue-auth-sms-code-inputs-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.vue-auth-sms-code-input {
  display: flex;
  width: 48px !important;
  height: 64px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #000;

  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background-color: #e6f0ff;
  border: 1px solid transparent !important;
  outline: none;
}
.vue-auth-sms-code-input.vue-auth-sms-code-input--disabled {
  pointer-events: none;
  cursor: default;
  background-color: #f2f2f2;
}
.vue-auth-sms-code-input:focus,
.vue-auth-sms-code-input:focus-visible,
.vue-auth-sms-code-input:focus-within,
.vue-auth-sms-code-input:active {
  border: 1px solid #4f74d1 !important;
  outline: none;
}
.vue-auth-sms-code-inputs__warning {
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  display: none;
}
.vue-auth-sms-code-inputs--invalid .vue-auth-sms-code-inputs-label {
  color: #f00;
}
.vue-auth-sms-code-inputs--invalid .vue-auth-sms-code-input {
  color: #f00;
  background-color: #ffeaea;
}
.vue-auth-sms-code-inputs--invalid .vue-auth-sms-code-input:focus,
.vue-auth-sms-code-inputs--invalid .vue-auth-sms-code-input:focus-visible,
.vue-auth-sms-code-inputs--invalid .vue-auth-sms-code-input:focus-within,
.vue-auth-sms-code-inputs--invalid .vue-auth-sms-code-input:active {
  border-color: #f00 !important;
}
.vue-auth-sms-code-inputs--invalid .vue-auth-sms-code-inputs__warning {
  color: #f00;
  display: block;
}

@media (max-width: 767px) {
  .vue-auth-sms-code-form-body {
    width: auto;
  }
  .vue-auth-sms-code-form-body > div:last-child {
    display: grid;
    justify-content: center;
  }
}
