.vue-profile-choice {
}
.vue-profile-choice__item {
  background-color: #f0f5fc;
  border-radius: 8px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #0a355a;
  gap: 8px;
  height: 48px;
  cursor: pointer;
}
.vue-profile-choice__item i {
  font-style: normal;
  font-size: 0.75rem;
  background-color: #5f7696;
  border-radius: 20px;
  color: #fff;
  height: 19px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
}
.vue-profile-choice__item span {
  white-space: nowrap;
}
.vue-profile-choice__item.active {
  background-color: #8393aa;
  color: #fff;
  cursor: default;
  pointer-events: none;
}
.vue-profile-choice__container {
  background: #fafbfc;
  padding: 25px;
  border-radius: 10px;
  font-size: 0.88rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 0;
  overflow: hidden;
  margin-bottom: calc(-2rem - 50px);
}
@media (max-width: 767px) {
  .vue-profile-choice__container {
    margin-bottom: -2rem;
  }
}
.vue-profile-choice__container .h3 {
  font-size: 1.25rem;
  margin-top: 0;
}
.vue-profile-choice__container .b-float-label {
  max-width: 530px;
}
.vue-profile-choice__button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  z-index: 10;
}
.vue-profile-choice__button span {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #f1f5fb;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.vue-profile-choice__button span:before,
.vue-profile-choice__button span:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 15px;
  width: 0;
  height: 16px;
  border-right: 1px solid #666;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
}
.vue-profile-choice--open .vue-profile-choice__button span:before {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}
.vue-profile-choice__button span:after {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.vue-profile-choice--open .vue-profile-choice__button span:after {
  transform: rotate(450deg);
  -webkit-transform: rotate(450deg);
}
.vue-profile-choice.vue-profile-choice--open .vue-profile-choice__container {
  opacity: 1;
  margin-bottom: 0;
}
.vue-profile-choice.vue-profile-choice--open .vue-profile-choice__button {
  top: 24px;
  right: 24px;
}
.vue-profile-choice.vue-profile-choice--open .vue-profile-choice__button i {
  opacity: 0;
}
