.vue-profile-choice-ph {
  position: relative;
  --aas-placeholder-color: #f2f2f2;
}

.vue-profile-choice-ph {
  display: flex;
  column-gap: 16px;
}

.vue-profile-choice-ph div {
  width: 200px;
  height: 48px;
  border-radius: 4px;
  background-color: var(--aas-placeholder-color);

  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 49%,
    #ffffff88 50%,
    #ffffff88 50%,
    transparent 51%,
    transparent 100%
  );
  background-size: 600% 600%;
  animation: table-gradient 4s linear infinite;

  background-attachment: fixed;
}

@keyframes table-gradient {
  100% {
    background-position: 200%;
  }
}
