:root {
  --twpx-form-control-color: var(--twpx-input-text-defaults, #3b3b3b);
  --twpx-form-control-margin-bottom: 16px;
  --twpx-form-control-background: #f0f5fc;
  --twpx-form-control-border: var(--twpx-form-control-background);
  --twpx-form-control-border-active: #4f74d1;
  --twpx-form-control-translate: 1.1rem;
  --twpx-form-control-translate-active: -22px;

  --twpx-form-control-padding-top: 14px;
  --twpx-form-control-padding-right: 16px;
  --twpx-form-control-padding-bottom: 0;
  --twpx-form-control-padding-left: 16px;

  --twpx-form-control-border-radius: 4px;
  --twpx-form-control-font-family: 'Roboto', sans-serif;
  --twpx-form-control-font-size: 14px;
  --twpx-form-control-font-size-active: 0.69rem;
  --twpx-form-control-height: 48px;

  /* left icon */
  --twpx-form-control-left-icon-padding-left: 48px;

  /* right icon */
  --twpx-form-control-right-icon-padding-right: 48px;

  --twpx-form-control-right-icon-size: 16px;
  --twpx-form-control-right-icon-right: 16px;

  --twpx-form-control-clear-size: 14px;
  --twpx-form-control-clear-right: var(--twpx-form-control-right-icon-right);
  --twpx-form-control-clear-color: #074c86;

  --twpx-form-control-loader-size: var(--twpx-form-control-right-icon-size);
  --twpx-form-control-loader-right: var(--twpx-form-control-right-icon-right);
  --twpx-form-control-loader-color: #074c86;

  --twpx-form-control-dropdown-size: var(--twpx-form-control-right-icon-size);
  --twpx-form-control-dropdown-right: var(--twpx-form-control-right-icon-right);

  /* hints */
  --twpx-form-control-hint-active-background: var(
    --twpx-form-control-background
  );
  --twpx-form-control-hint-padding: 20px;
  --twpx-form-control-hint-font-size: 14px;
  --twpx-form-control-hint-box-shadow: 0px 6px 10px 0px #f2f7ff;
  --twpx-form-control-hint-border-radius: 0 0 5px 5px;

  /* label */
  --twpx-form-control-label-font-size: 10px;
  --twpx-form-control-label-translate: 18px;
  --twpx-form-control-active-label-translate: 10px;

  --twpx-form-control-invalid-color: #ff0000;
  --twpx-form-control-invalid-border-color: #ff0000;
  --twpx-form-control-invalid-background-color: #fff4f4;

  --twpx-form-control-disabled-color: #00000055;
  --twpx-form-control-disabled-border-color: var(
    --twpx-form-control-disabled-background-color
  );
  --twpx-form-control-disabled-background-color: #f2f2f2;

  --twpx-form-control-external-hint-font-size: #f2f2f2;
  --twpx-form-control-external-hint-margin: #f2f2f2;
  --twpx-form-control-external-hint-line-height: #f2f2f2;
}
